/* The sidebar menu */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 180px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #073763; /* Navy Blue*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  font-family:'Noto Serif', serif;
  color: white;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Style page content */
.main {
  margin-left: 180px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


body {
  color: #073763;
  height: 100%;
  width: 100%;
}

.col-3 {
  font-size: 20px;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

  .responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px){
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px){
  .responsive {
    width: 100%;
  }
}

div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}


.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.wrapper{
  display: flex;
}

/*About Me styling*/

h1 {
font-family: 'Crimson Text', serif;
font-weight: 700;
}

p {
  font-family: 'Crimson Text', serif;
}


/*Photography styling*/

h2{
 font-family: 'David Libre', serif;
 font-weight: 500; 
}

h4{
  font-family: 'David Libre', serif;
  font-weight: 400;
}

.desc{
  font-family: 'Crimson Text', serif;
  font-weight: 400;
}


/*Resume styling*/

.col-3{
  font-family: 'Libre Baskerville', serif;
}

.col-8{
  font-family: 'Libre Baskerville', serif;
}

.col-4{
  font-family: 'Libre Baskerville', serif;
}

.col-12{
 font-family: 'David Libre', serif; 
}







